<html>
    <head>
        <title>LivRI</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "search/styles.css" %}" />
    </head>
    <body>
        <div class="box-search">
            <p>Busque um livro (preencha ao menos um campo)</p>
            <div>
                <label>Titulo</label>
                <input name="title">
            </div>
            <div>
                <label>Autor</label>
                <input name="author">
            </div>
            <div>
                <label>ISBN</label>
                <input name="isbn">
            </div>
            <div>
                <label>Numero de paginas</label>
                <input name="pages">
            </div>
            <div>
                <label>Editora</label>
                <input name="publisher">
            </div>
            <div>
                <label>Idioma</label>
                <input name="language">
            </div>
            <div>
                <label>Acabamento</label>
                <input name="coverType">
            </div>
            <button>Pesquisar</button>
        </div>
    </body>
</html>